@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

*, *::after, *::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --app_name_font-size: 21px;
    --main_title_font-size: 33px;
    --button_font-size: 10px;
    --button_font-weight: 600;
    --todo_count_font-size: 12px;
    --todo_font-size: 14px;
    --list_name_font-size: 20px;
    --current_list_font-size: 18px;
    --primary_color: #FF6D4B;
    --secondary_color: #755A94;
    --accent_color: white;
}

html {
    min-height: 100vh;
    background-image: linear-gradient(to right top, #051937, #49265a, #932762, #d0394a, #eb7012);
}

body {
    /* background-color: #548FE9; */
    /* background-color: var(--primary_color); */
    color: var(--accent_color);
    font-family: "Oswald", sans-serif;
}

.container {
    position: relative;
    width: 85%;
    margin: 0 auto;
}

.not-visible {
    visibility: hidden;
    width: 0;
}

.btn {
    /* background-color: var(--secondary_color); */
    /* background-image: linear-gradient(to right top, #e16645, #ea7c3d, #ee9436, #efac32, #ebc435, #e2cf34, #d7db37, #cae63f, #b9e63b, #a6e73a, #91e73b, #79e73e); */
    /* background-color: #D87E3A; */
    background-image: linear-gradient(to right top, #af0b0b, #be1c0d, #cd290f, #dc3511, #eb4112);
    color: var(--accent_color);
    cursor: pointer;
    font-size: var(--button_font-size);
    font-weight: var(--button_font-weight);
    border-radius: 4px;
    border-style:  none;
    padding: .45em 1.3em;
}

.background {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    border-radius: 10px;
    background-color: black;
    opacity: .4;
    width: 100%;
    height: 100%;
}

.card-background {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: .5;
    border-radius: 10px;
}

/* LISTS MOBILE */

.lists-mobile {
    background-color: brown;
    position: fixed;
    top: 0;
    z-index: 1;
    width: 300px;
    min-height: 100vh;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-top: 3em;
    overflow-y: scroll;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: white;
}

.cross {
    position: absolute;
    top: 17px;
    left: 9px;
    display: block;
    width: 50%;
    height: 2px;
    transform: rotate(45deg);
    background-color: red;
}

.cross2 {
    position: absolute;
    top: 17px;
    left: 9px;
    display: block;
    width: 50%;
    height: 2px;
    transform: rotate(315deg);
    background-color: red;
}

.add_list-mobile,
.show_lists-mobile {
    padding: .5em 0;
}

.add_list-mobile {
    margin-bottom: 1em;
}

.add_list-input-mobile {
    margin: 1em 0;
    padding-left: 2.5em;
}

.add_list-input-mobile input{
    padding: 1em 4em .5em .5em;
    border-radius: 7px;
    border-style: none;
}

.add_list-button-mobile {
    display: flex;
    justify-content: center;
}

.add_list-button-mobile span{
    font-size: var(--button_font-size);
    font-weight: 600;
    border-radius: 5px;
    border-style:  none;
    padding: .5em;

}

.lists-mobile-title {
    text-align: center;
    font-size: var(--app_name_font-size);
}

.show_lists-mobile {
    margin: 1em 0;
}

.list_card {
    margin-bottom: 1.5em;
}

.list_name-mobile {
    text-align: center;
    font-size: var(--list_name_font-size);
    margin-bottom: 0.7em;
}

.list_options-mobile {
    display: flex;
    justify-content: center;
    gap: 1em;
}

.select_list-mobile span,
.delete_list-mobile span {
    background-color: black;
    border-radius: 5px;
    border-style:  none;
    font-size: var(--button_font-size);
    padding: .5em;
}

/* NAV */

nav {
    background-color: black;
    padding: 1em 0;
}

.list-toggle {
    width: 35px;
    height: 35px;
    background-color: white;
    position: absolute;
    top: 0px;
    left: 5px;
    border-radius: 50%;
}

.hamburger {
    display: block;
    width: 50%;
    height: 3px;
    margin: 17px auto;
    background-color: red;
}

.hamburger::before {
    display: block;
    content: '';
    width: 100%;
    height: 3px;
    background-color: red;
    transform: translateY(-6px);
}

.hamburger::after {
    display: block;
    content: '';
    width: 100%;
    height: 3px;
    background-color: red;
    transform: translateY(3px);
}

.nav-title {
    text-align: center;
    font-size: var(--app_name_font-size);
}

/* HEADER */

.header-title {
    text-align: center;
    margin-bottom: .3em;
    font-size: var(--main_title_font-size);
}

/* LISTS SECTION */

.lists {
    display: none;
}

/* TODOS SECTION */

.todos {
    padding: .7em;
}

.todos_header {
    /* position: relative; */
    /* padding-bottom: 1em; */
    /* background-color: blue; */
    width: 80%;
    margin: 0 auto;
}

.current_list {
    text-align: center;
    font-size: var(--current_list_font-size);
    margin-bottom: .3em;
}

.todos-title {
    font-size: var(--app_name_font-size);
}

.todos_count {
    /* position: absolute;
    top: 10px;
    right: 10px; */
    text-align: center;
    font-size: var(--todo_count_font-size);
}

.add_todo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: .3em;
    /* gap: 1em; */
}

.add_todo-input {
    margin: .4em 0;
}

.add_todo-input input {
    padding: .4em .5em .2em .2em;
    border-radius: 3px;
    border-style: none;
}

.add_todo-button {
    display: flex;
    justify-content: center;
}

.show_todos {
    /* background-color: blue; */
    /* margin-top: 1em;
    padding: 1em 0; */
}

.todo_card {
    /* background-color: black; */
    position: relative;
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    margin-top: 0.4em;
    padding: .8em 0;
}

.todo_info {
    /* background-color: blue; */
    width: 70%;
    font-size: var(--todo_font-size);
    color: black;
    padding-left: 1em;
}

.todo_info span {
    color: white;
}

.done{
    text-decoration: line-through;
    text-decoration-thickness: 5px;
}

.todo_done-button {
    /* background-color: green; */
    width: 30%;
}

.todo_done-button span {
    text-align: center;
    display: block;
    width: fit-content;
    margin: 0 auto;
}

.todos_options {
    margin: .4em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.remove_finished-button {
    margin-bottom: .3em;
}

/* .remove_finished-button span,
.remove_all-button span {

} */

@media (min-width: 800px) {
    :root {
        --app_name_font-size: 30px;
        --main_title_font-size: 60px;
        --button_font-size: 16px;
        --button_font-weight: 600;
        --todo_count_font-size: 15px;
        --todo_font-size: 23px;
        --list_name_font-size: 25px;
        --current_list_font-size: 25px;
        --primary_color: #FF6D4B;
        --secondary_color: #755A94;
        --accent_color: white;
    }

    .container {
        width: 80%;
        max-width: 1200px;
    }

    nav {
        padding: 1em 0;
    }

    .lists-mobile {
        display: none;
    }

    .list-toggle {
        display: none;
    }

    .main_row {
        display: flex;
        justify-content: space-between;
    }

    .lists {
        display: block;
        position: relative;
        width: 39%;
        height: fit-content;
        padding: .7em;
        /* background-color: rgb(46, 45, 45); */
        /* opacity: .65; */
    }

    .add_list {
        margin-bottom: 1em;
    }

    .add_list-input {
        margin: 1em 0;
        display: flex;
        justify-content: center;
    }

    .add_list-input input {
        padding: 1em 4em .5em .5em;
        border-radius: 7px;
        border-style: none;
    }

    .add_list-button {
        display: flex;
        justify-content: center;
    }

    /* .add_list-button span {

    } */

    .lists-title {
        text-align: center;
        font-size: var(--app_name_font-size);
    }

    .show_lists {
        margin: 1em 0;
    }

    .list_card {
        position: relative;
        width: 70%;
        margin: 0 auto;
        margin-bottom: .5em;
        padding: .9em 0 1.5em 0;
    }

    .list_name {
        text-align: center;
        font-size: var(--list_name_font-size);
        margin-bottom: 0.9em;
    }

    .list_options {
        display: flex;
        justify-content: center;
        gap: 1em;
    }

    /* .select_list span,
    .delete_list span {
        
    } */

    .todos {
        width: 60%;
        position: relative;
        height: fit-content;
        /* background-color: yellow; */
    }

    .todos_options {
        margin: 1.5em 0 1em 0;
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 1em;
    }

    .add_todo {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 1em;
    }

    .add_todo-input {
        margin: 1em 0;
    }

    .add_todo-input input {
        padding: 1em 4em .5em .5em;
        border-radius: 7px;
        border-style: none;
    }

    .remove_finished-button {
        margin: 0;
    }
}